
.container{
   margin: auto;
   max-width: 960px;
}
.banner img{
   width: 100%;
}
.banner{
   position: relative;
}
.banner a{
   position: absolute;
   background-color: #0000FF;
   color: #FFF;
   font-size: 22px;
   text-transform: uppercase;
   padding: 0px 20px;
   line-height: 50px;
   bottom: 22px;
   left: 20px;
}
body {
   height: 100%;
   background: url('../images/bg.png') #000 no-repeat top center;
   background-size: cover;
}
 .owl-carousel button.owl-dot {
   width: 10px;
   height: 10px;
   background-color: lightgrey;
   display: inline-block;
   margin: 3px;
 }

   .owl-carousel  .owl-nav button.owl-prev {
      outline: none;
      background: transparent;
      background-color: transparent;
      position: fixed;
      top:150px;
      left:20px;
      font-size: 40px;
      font-weight: 700;
      color:grey;
      
   }
    .owl-carousel  .owl-nav button.owl-prev:before{
      content:"\f053";
      text-transform: none;
      font-size: 30px;
      color:grey;
      font-family:'FontAwesome';
    }

    .owl-carousel .owl-nav button.owl-next{
      outline: none;
      border: transparent;
      background: transparent;
      background-color: transparent;
      position: fixed;
      top:150px;
      right:20px;
   
    }
    .owl-carousel .owl-nav button.owl-next:after{
      content:"\f054";
       text-transform: none;
      font-size: 30px;
      color:grey;
      font-family:'FontAwesome';
    }
      
    .owl-carousel button.owl-dot.active {
      background-color: grey;
   }
.owl-dots{
   position:absolute;
   right:36px;
   top:16px;
}